@model InstituicaoEnsino;

@{
    ViewData["Title"] = "Detalhes da Instituição de Ensino";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @(Model.Ativo ? "Sim" : "Não")
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" asp-action="InstituicaoEnsinoHome">Voltar para Lista de Instituições de Ensino</a>
</div>
