@model IEnumerable<InstituicaoEnsino>;

@{
    ViewData["Title"] = "Instituições de Ensino";
}

<h2>Instituições de Ensinos</h2>

<p>
    <a class="btn btn-info" asp-action="Inserir">Nova Instituição de Ensino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @(item.Ativo ? "Sim" : "Não")
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a> |
                <a class="btn btn-info" asp-action="Detalhes" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-book-reader"></i></a> |
                <button type="button" class="btn @(item.Ativo ? "btn-danger" : "btn-success")" onclick="instituicaoEnsino.clickAlterarStatus(@item.Id, this)" title="@(item.Ativo ? "Desativar" : "Ativar")">
                    <i class="fas @(item.Ativo ? "fa-minus-circle" : "fa-plus-circle")"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
