@model IEnumerable<Emprestimo>;

@{
    ViewData["Title"] = "Emprestimos";
}

<h2>Empréstimos To Do</h2>

<p>
    <a class="btn btn-info" asp-action="Inserir">Novo Empréstimo</a>
    <a class="btn btn-warning" asp-action="Reserva">Nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolvido)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Devolvido)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@((item.DataDevolvido == null && (DateTime.Now - item.DataDevolucao.Value).TotalDays > 0) ? "danger" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Livro.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolvido)
                </td>
                @*<td style="text-align: center">
                        <i class="far fa-@(item.Devolvido ? "check-square" : "square")"></i>
                    </td>*@
            <td>
                @{
                    if (item.DataDevolvido == null)
                    {
                        if (item.Atraso == null && item.DataDevolvido == null && (DateTime.Now - item.DataDevolucao.Value).TotalDays > 0)
                        {
                            <a class="btn btn-danger" onclick="emprestimo.clickAtraso(@item.Id)" title="Adicionar Atraso"><i class="fas fa-plus"></i></a>
                        }
                        <a class="btn btn-warning" onclick="emprestimo.clickDevolver(@item.Id)" title="Devolver"><i class="fas fa-undo"></i></a>
                    }
                    else
                    {
                        <button class="btn btn-success" disabled><i class="fas fa-check"></i></button>
                    }
                }
            </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/emprestimo.js">
    </script>
}